<div class="main">

    <div class="top" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px">

        <div class="profile">
            <mat-card class="card profile animated fast fadeIn">

                <mat-card-header fxLayout="row" fxLayoutAlign="center" class="header profile">
                    <img [src]="myPic" class="profile-header-img img-thumbnail" alt={{nombre}} width="290" height="290">
                </mat-card-header>

                <mat-card-subtitle fxLayout="row" fxLayoutAlign="center" class="title profile">
                    {{nombre | uppercase}}, 29
                </mat-card-subtitle>

                <mat-card-content fxLayout="row" fxLayoutAlign="center" class="content profile">
                    <p *ngIf="translate">
                        Estudiando DAM (Desarrollo de Aplicaciones Multiplataforma), actualmente en mi último año de carrera en el centro de San Valero, España. No puedo esperar a terminar mis estudios para facilitar la vida de las personas con mis próximas aplicaciones, y por
                        último, pero no menos importante, mejorar como programador.
                    </p>

                    <p *ngIf="!translate">
                        Studying multi-platform app development, currently on my final year of carrer at San Valero center, Spain. I can't wait to finish my studies to make people's life easier with my upcoming apps, And last but not the least, to improve as a programmer.
                    </p>
                    <!--<p *ngIf="translate" class="lead animated fast fadeIn"> {{descripcionEsp}}</p>
                <p *ngIf="!translate" class="lead animated fast fadeIn"> {{descripcionEn}}</p>-->
                </mat-card-content>

                <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                    <button mat-flat-button *ngIf="translate" (click)="traducir()"><i class="fa fa-language"></i> Translate</button>
                    <button mat-flat-button *ngIf="!translate" (click)="traducir()"><i class="fa fa-language"></i> Traducir</button>
                </mat-card-actions>

            </mat-card>
        </div>

        <div fx class="skills animated fast fadeIn">

            <mat-card class="card skills">

                <mat-card-header class="skill header">
                    <h3 *ngIf="!translate" class="lead animated fast fadeIn">Skills</h3>
                    <h3 *ngIf="translate" class="lead animated fast fadeIn">Habilidades</h3>
                </mat-card-header>

                <mat-divider color="accent"></mat-divider>

                <mat-card-content fxLayout="row" fxLayoutAlign="space-around center" class="content skills">

                    <div>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let skill of skills | slice:0:7">{{skill}}</mat-list-option>
                        </mat-selection-list>
                    </div>

                    <div>

                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let skill of skills | slice:7:14">{{skill}}</mat-list-option>
                        </mat-selection-list>

                    </div>

                </mat-card-content>

                <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                    <div *ngIf="!translate">
                        <p>eager to learn more</p>
                    </div>

                    <div *ngIf="translate">
                        <p>Con muchas ganas de aprender aún más</p>
                    </div>
                </mat-card-actions>

            </mat-card>

        </div>

    </div>


    <div class="recient">

        <mat-card class="recient-card">

            <mat-card-header class="recient header" fxLayout="row" fxLayoutAlign="center">
                <h3 *ngIf="!translate" class="lead animated fast fadeIn">Recent projects</h3>
                <h3 *ngIf="translate" class="lead animated fast fadeIn">Proyectos recientes</h3>
            </mat-card-header>

            <mat-divider></mat-divider>

            <!--fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-xl="column" fxLayoutAlign="center center"-->

            <mat-card-content class="bot content recient">

                <div class="taxi">

                    <mat-card class="card inner-recient-card">

                        <mat-card-header class="inner-recient-header">
                            <a [routerLink]="['/projects']"> <img [src]="taxiImg" class="inner-card-img mat-card-image" alt="Taxi app" title="Taxis Cala dor"></a>
                        </mat-card-header>

                        <mat-card-content class="innner-recent-content">

                            <h2 *ngIf="!translate" class="animated fast fadeIn">{{recientsApps.taxisCalador.nombre}}
                                <mat-chip class="" selected>{{recientsApps.taxisCalador.typeIngles}}</mat-chip>
                            </h2>
                            <h2 *ngIf="translate" class=" animated fast fadeIn">{{recientsApps.taxisCalador.nombre}}
                                <mat-chip class="" selected>{{recientsApps.taxisCalador.typeEsp}}</mat-chip>
                            </h2>
                            <p *ngIf="!translate" class="lead animated fast fadeIn">{{recientsApps.taxisCalador.descripcionIngles}}</p>
                            <p *ngIf="translate" class="lead animated fast fadeIn">{{recientsApps.taxisCalador.descripcionEsp}}</p>

                        </mat-card-content>

                    </mat-card>

                </div>

                <div class="majek">

                    <mat-card class="card inner-recient-card">

                        <mat-card-header class="inner-recient-header">
                            <a [routerLink]="['/projects']"> <img [src]="majekImg" class="inner-card-img mat-card-image" alt="Majek app" title="Majek"> </a>
                        </mat-card-header>

                        <mat-card-content class="innner-recent-content">
                            <h2 *ngIf="!translate" class="animated fast fadeIn">{{recientsApps.majek.nombre}}
                                <mat-chip selected class="">{{recientsApps.majek.typeIngles}}</mat-chip>
                            </h2>
                            <h2 *ngIf="translate" class="animated fast fadeIn">{{recientsApps.majek.nombre}}
                                <mat-chip selected class="">{{recientsApps.majek.typeEsp}}</mat-chip>
                            </h2>
                            <p *ngIf="!translate" class="lead animated fast fadeIn">{{recientsApps.majek.descripcionIngles}}</p>
                            <p *ngIf="translate" class="lead animated fast fadeIn">{{recientsApps.majek.descripcionEsp}}</p>
                        </mat-card-content>

                    </mat-card>

                </div>

                <div class="yomi">

                    <mat-card class="card inner-recient-card">

                        <mat-card-header style="background-color: antiquewhite;" class="inner-recient-header">
                            <a [routerLink]="['/projects']"> <img [src]="yomiImg" class="inner-card-img mat-card-image" alt="Yomi app" title="Yomi"> </a>
                        </mat-card-header>

                        <mat-card-content class="innner-recent-content">
                            <h2 *ngIf="!translate" class=" animated fast fadeIn">{{recientsApps.yomi.nombre}}
                                <mat-chip selected class="">Web App</mat-chip>
                            </h2>
                            <h2 *ngIf="translate" class="animated fast fadeIn">{{recientsApps.yomi.nombre}}
                                <mat-chip selected class="">Aplicación Web</mat-chip>
                            </h2>
                            <p *ngIf="!translate" class="lead animated fast fadeIn">{{recientsApps.yomi.descripcionIngles}}</p>
                            <p *ngIf="translate" class="lead animated fast fadeIn">{{recientsApps.yomi.descripcionEsp}}</p>
                        </mat-card-content>

                    </mat-card>

                </div>


            </mat-card-content>

        </mat-card>

    </div>

</div>