<div class="row my-5 mx-5 justify-content-center text-center">
    <div class="col-6">
        <h3 class="lead">{{nombre | uppercase}}</h3>
        <hr>
        <div class="row justify-content-around">
            <div class="col-4">
                <img [src]="myPic" class="rounded-circle" alt={{nombre}} width="290" height="290">
            </div>

            <div class="col-4">
                <p *ngIf="translate" class="lead"> {{descripcionEsp}}</p>
                <p *ngIf="!translate" class="lead"> {{descripcionEn}}</p>

                <button *ngIf="translate" (click)="translate = !translate" class="btn btn-info btn-block">Translate</button>
                <button *ngIf="!translate" (click)="translate = !translate" class="btn btn-info btn-block">Traducir</button>
            </div>

        </div>
    </div>
</div>

<div class="row my-5 mx-5 justify-content-center text-center">
    <div class="col-2">
        <h3 *ngIf="!translate" class="lead">Skills</h3>
        <h3 *ngIf="translate" class="lead">Habilidades</h3>
        <hr>
        <ul>
            <li>Java</li>
            <li>JavaScript</li>
            <li>SQL</li>
            <li>Hibernate</li>
            <li>Spring Boot</li>
            <li>Andriod</li>
            <li *ngIf="!translate">Angular (Learning)</li>
            <li *ngIf="translate">Angular (Aprendiendo)</li>
            <li>Boostrap</li>
            <li>Servlet</li>
            <li>JSP</li>

        </ul>
    </div>


</div>


<div class="row my-5 mx-5 justify-content-center text-center">
    <div class="col-6">
        <h3 *ngIf="!translate" class="lead">Recent <small class="badge badge-danger">Projects</small></h3>
        <h3 *ngIf="translate" class="lead">Proyectos <small class="badge badge-danger">Recientes</small></h3>
        <hr>
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="card text-center fondo border-left-0 border-top-0 border-bottom-0 border-right-0" style="width: 18rem;">
                    <a [routerLink]="['/projects']"> <img [src]="taxiImg" class="card-img-top" alt="Taxi app" title="Taxis Cala dor" height="290px"> </a>
                    <div class="card-body">
                        <h5 *ngIf="!translate" class="card-title texto font-weight-bold">Taxis Cala D' Or <small class="badge badge-info">Web App</small></h5>
                        <h5 *ngIf="translate" class="card-title texto font-weight-bold">Taxis Cala D' Or <small class="badge badge-info">Aplicación Web</small></h5>
                        <p *ngIf="!translate" class="card-text lead text-justify">A web app to make clients reservations. Data stored on a database so the company could have info about how many reservations made a day, how many trip a taxi driver did and much more.</p>
                        <p *ngIf="translate" class="card-text lead text-justify">Una aplicación web para hacer reservas de clientes. Los datos se almacenan en una base de datos para que la compañía pueda tener información sobre cuántas reservas hizo al día, cuántos viajes realizó un taxista y mucho más.</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-center fondo border-left-0 border-top-0 border-bottom-0 border-right-0" style="width: 18rem;">
                    <a [routerLink]="['/projects']"> <img [src]="majekImg" class="card-img-top" alt="Majek app" title="Majek"> </a>
                    <div class="card-body">
                        <h5 *ngIf="!translate" class="card-title texto font-weight-bold">Majek <small class="badge badge-dark">Andriod App</small></h5>
                        <h5 *ngIf="translate" class="card-title texto font-weight-bold">Majek <small class="badge badge-dark">Aplicación Andriod</small></h5>
                        <p *ngIf="!translate" class="card-text lead text-justify">App about my Android final project, it's a buying and selling app. Sends email confirmation, notification of a bought item. Named it my surname due to my brother has a clothing brand with our surname.</p>
                        <p *ngIf="translate" class="card-text lead text-justify">Aplicación sobre mi proyecto final de Android, es una aplicación de compra y venta. Envía confirmación por correo electrónico, notificación de un artículo comprado. Le puse el nombre como mi apellido debido a que mi hermano tiene
                            una marca de ropa con nuestro apellido.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>